

@{
  Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Simple Login Form</title>
  <link href="~/Content/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="~/Scripts/jquery.validate.min.js"></script>
  <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
  <style type="text/css">
    .login-form {
      width: 340px;
      margin: 50px auto;
    }

      .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
      }

      .login-form h2 {
        margin: 0 0 15px;
      }

    .form-control, .btn {
      min-height: 38px;
      border-radius: 2px;
    }

    .btn {
      font-size: 15px;
      font-weight: bold;
    }
  </style>
</head>
<body>
  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()

    <div class="form-gap"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="text-center">
                <h3><i class="fa fa-lock fa-4x"></i></h3>
                <h2 class="text-center">Forgot Password?</h2>
                <p>You can reset your password here.</p>
                <div class="panel-body">

                  @using (Html.BeginForm("UpdateResetPassword", "Account", FormMethod.Post))
                  {
                    <div class="form-group">
                      <div class="input-group">
                        <input id="newpassword" name="newpassword" placeholder="enter new password" class="form-control" type="text">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <input id="re-newpassword" name="re-newpassword" placeholder="re - enter new password" class="form-control" type="text">
                      </div>
                    </div>
                    <div class="form-group">
                      <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                    </div>

                    <input type="hidden" class="hide" name="token" id="token" value="">
                  }

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  }
  <script type="text/javascript">




        //$(document).ready(function () {

        //  $.fn.serializeObject = function () {
        //    var o = {};
        //    var a = this.serializeArray();
        //    $.each(a, function () {
        //      if (o[this.name] !== undefined) {
        //        if (!o[this.name].push) {
        //          o[this.name] = [o[this.name]];
        //        }
        //        o[this.name].push(this.value || '');
        //      } else {
        //        o[this.name] = this.value || '';
        //      }
        //    });
        //    return o;
        //  };
        //});





  </script>

</body>
</html>
